APP_NAME="Mini E-Commerce API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# PostgreSQL Database Configuration
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=mini_ecommerce
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Session Configuration
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local

# Queue Configuration
QUEUE_CONNECTION=redis

# Cache Configuration
CACHE_STORE=redis
# CACHE_PREFIX=

# Redis Configuration (Using predis pure-PHP driver)
REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="noreply@miniecommerce.local"
MAIL_FROM_NAME="${APP_NAME}"

BITESHIP_API_KEY=your_biteship_api_key_here
BITESHIP_BASE_URL=https://api.biteship.com
BITESHIP_ORIGIN_POSTAL_CODE=12220
BITESHIP_ORIGIN_AREA_ID=IDNP6IDNC417IDND2093IDNZ12220
BITESHIP_ORIGIN_ADDRESS="Jl. Kebayoran Lama No. 12, Jakarta Selatan"
BITESHIP_ORIGIN_CONTACT_NAME="Lumiere Beaute Store"
BITESHIP_ORIGIN_CONTACT_PHONE=081234567890
BITESHIP_TIMEOUT=10
BITESHIP_WEBHOOK_SIGNATURE_KEY=X-Biteship-Signature
BITESHIP_WEBHOOK_SECRET=your_biteship_webhook_secret_here
SHIPPING_FREE_MIN_SPEND=500000

MIDTRANS_ENABLED=false
MIDTRANS_SERVER_KEY=your_midtrans_server_key_here
MIDTRANS_CLIENT_KEY=your_midtrans_client_key_here
MIDTRANS_IS_PRODUCTION=false
