# Environment files
.env
.env.*
!.env.example

# Dependencies
node_modules/
vendor/

# Build artifacts & caches
.next/
out/
build/
dist/
*.log
dump.rdb
.phpunit.result.cache
database/*.sqlite

# IDE and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

frontend/
backend/
